.profile__plus-button {
  border: 2px solid #ffffff;
  border-radius: 2px;
  height: 22px;
  width: 22px;
  padding: 14px 64px;
  background-image: url(../../../images/reactangle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  transition: opacity ease-in-out 0.3s;
  cursor: pointer;
  box-sizing: content-box;
}

.profile__plus-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 320px) {
  .profile__plus-button {
    height: 16px;
    width: 16px;
    padding: 15px 132px;
    background-size: 16px;
  }
}
