.popup__container {
  position: relative;
  max-width: 480px;
  display: flex;
  margin-top: 150px;
}

@media screen and (max-width: 430px) {
  .popup__container {
    max-width: 284px;
    margin-top: 0px;
  }
}
