.profile__edit {
    height: 24px;
    width: 24px;
    border: 1px solid #FFFFFF;
    background-image: url(../../../images/pen.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
}

.profile__edit:hover {
    opacity: .6;
}