.profile__edit {
    height: 10px;
    width: 10px;
    border: 1px solid #FFFFFF;
    padding: 6px;
    transition: opacity ease-in-out .3s;
}

.profile__edit:hover {
    opacity: .6;
}

.profile__edit {
    height: 10px;
    width: 10px;
    border: 1px solid #FFFFFF;
    padding: 6px;
    background-image: url(../../../images/pen.svg);
    background-position: center;
    background-repeat: no-repeat;
}

