.popup__close {
  position: absolute;
  top: -37px;
  right: -40px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: opacity ease-in-out 0.4s;
  background-image: url(../../../images/close.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 550px) {
  .popup__close {
    right: 0px;
    top: -44px;
  }
}

@media screen and (max-width: 320px) {
  .popup__close {
    width: 20px;
    height: 20px;
    right: 0px;
    top: -36px;
    background-size: 20px;
  }
}
