.popup__submit {    
    padding: 14px 124px 18px;
    background-color: #000000;
    color: #ffffff;
    font-size: 18px;
    transition: opacity ease-in-out .4s;
}

@media screen and (max-width: 430px) {
    .popup__submit {
        padding: 14px 82px;
        font-size: 14px;
    }
}

.popup__submit:hover {    
    opacity: 0.8;
}