.popup__close {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: opacity ease-in-out .4s;
    background-image: url(../../../images/close.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}

.popup__close:hover {    
    opacity: 0.6;
}

@media screen and (max-width: 430px) {
    .popup__close {
        right: 0px;
        width: 20px;
    }
}