.profile__plus-button {
    padding: 14px 64px;
    border: 2px solid #FFFFFF;
    height: 22px;
    width: 22px;
    background-image: url(../../../images/reactangle.svg);
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity ease-in-out .3s;
}

.profile__plus-button:hover {    
    opacity: 0.6;
}

@media screen and (max-width: 320px) {
    .profile__plus-button {
        padding: 17px 134px;
    }
}